@model EnumDemo.Models.AppointmentModel
@{
    ViewBag.Title = "Submit";
}

<h2>Appointment</h2>

<table>
    <tr>
        <td>@Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>@Model.Days</td>
    </tr>
</table>
